<div class="landing-wrapper">
  <div class="landing-card">
    <div class="landing-left">
      <div class="logo-section">
        <img src="assets/images/open-book.png" alt="Library Logo" class="logo" />
        <h1>Library System</h1>
        <p>Manage your books with ease</p>
      </div>
    </div>

    <div class="landing-right">
      <h2>Welcome</h2>
      <p>Access your library anytime, anywhere.</p>
      <div class="buttons">
        <button (click)="onNavigateToLogin()">Login</button>
        <button (click)="onNavigateToRegister()">Register</button>
      </div>
    </div>
  </div>
</div>
